*.exe
*.prj
*.gise
*.c
*.didat
*.vdb
*.dat
*.didat
*.o
*.html
*.wdb
*.cmd
*.log
*.xmsgs
*.vho
*.ref
*.ncd
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.xml
*.ngc
*.lso
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.unroutes
*.xpi
isim/