### UCF do Projeto Somador de 4 Bits com Vai-um 
###	nu'meros mostrados nos displays e vai-um no led LD0

## Sinais de controle do display
NET "clock" LOC = B8; # clock vem do cristal
NET "reset" LOC = B18; # reset vem do bot~ao BTN0


## Mapeamento das 4 chaves da esquerda para A
NET "A[3]" LOC = R17; # Bit 3 do vetor A
NET "A[2]" LOC = N17; # Bit 2 do vetor A
NET "A[1]" LOC = L13; # Bit 1 do vetor A
NET "A[0]" LOC = L14; # Bit 0 do vetor A

## Mapeamento das 4 chaves da direita para B
NET "B[3]" LOC = K17; # Bit 3 do vetor B
NET "B[2]" LOC = K18; # Bit 2 do vetor B
NET "B[1]" LOC = H18; # Bit 1 do vetor B
NET "B[0]" LOC = G18; # Bit 0 do vetor B

## Vai-um da soma aparece no led LD0
NET "vaium" LOC = J14;

## Pinos do display
NET "dec_ddp[7]"	LOC = L18;	# Segmento a
NET "dec_ddp[6]"	LOC = F18;	# Segmento b
NET "dec_ddp[5]"	LOC = D17;	# Segmento c
NET "dec_ddp[4]"	LOC = D16;	# Segmento d
NET "dec_ddp[3]"	LOC = G14;	# Segmento e
NET "dec_ddp[2]"	LOC = J17;	   # Segmento f
NET "dec_ddp[1]"	LOC = H14;	# Segmento g
NET "dec_ddp[0]"	LOC = C17;	# Segmento dp - decimal point

NET "an[3]"	LOC = F17;	# anodo 3
NET "an[2]"	LOC = H17;	# anodo 2
NET "an[1]"	LOC = C18;	# anodo 1
NET "an[0]"	LOC = F15;	# anodo 0

